<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <!--
        有自定定义的前置处理、后置处理。
    -->
    <bean id="aspectClass" class="com.liu.study.spring.aop.CustomAspect" />

    <!-- 切点要交给spring管理 -->
    <bean id="pointCut" class="com.liu.study.spring.aop.PointCut" />



    <!-- 接口代理（JDK Proxy） -->
    <bean id="interfacePointCut" abstract="true" class="com.liu.study.spring.aop.jdk.IOrderService" />

    <bean id="payOrderService" class="com.liu.study.spring.aop.jdk.PayOrderServiceImpl" />

    <bean id="orderAdvisor" class="com.liu.study.spring.aop.jdk.OrderAdvisor" />


    <aop:config>
        <aop:aspect id="firstAspect" ref="aspectClass" order="1" >
            <!-- 定义切入点 -->
            <aop:pointcut id="customPointCut" expression="execution(* com.liu.study.spring.aop.PointCut.*(..))"/>
            <!-- 操作方式 -->
            <aop:before method="before" pointcut-ref="customPointCut" />
            <aop:around method="around" pointcut-ref="customPointCut" />
            <aop:after method="after" pointcut-ref="customPointCut" />
            <aop:after-returning method="afterReturn" pointcut-ref="customPointCut" />
            <aop:after-throwing method="afterThrow" pointcut-ref="customPointCut" />
        </aop:aspect>


        <aop:aspect id="jdkAspect" ref="orderAdvisor" order="2">
            <aop:pointcut id="jdkPointCut" expression="execution(* com.liu.study.spring.aop.jdk.IOrderService.*(..))"/>

            <!-- 操作方式 -->
            <aop:before method="before" pointcut-ref="jdkPointCut" />
            <aop:after method="after" pointcut-ref="jdkPointCut" />
        </aop:aspect>

    </aop:config>

</beans>